.recommendation {
    background-image: url("/Home/bg.png");
    background-size: cover;
}

.recommendation__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.recommendation__item {
    display: flex;
    gap: 16px;
    padding: 16px;
    // border: 1px solid #ccc;
    border-radius: 8px;
    align-items: center;
}

.item__image {
    // width: 50px;
    // height: 50px;
    border-radius: 1rem;
    object-fit: cover;
}

.item__content {
    flex-grow: 1;
    padding: 1rem 0;
}

.content__name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 0 1rem;
}

.content__description {
    font-size: 1rem;
    color: #000000;
    line-height: 1.5rem;
    max-width: 500px;
}

.item__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .8rem;
}

.info__free-time {
    font-size: 0.8rem;
    color: #fff;
    background-color: #09B3B0;
    padding: 8px 12px;
    border-radius: .5rem;
}

.info__price {
    font-size: 1rem;
    font-weight: bold;
}

.info__button-call,
.info__button-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 8px 12px;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 100%;
}

.info__button-call {
    background-color: #FF9F00;
}

.info__button-chat {
    background-color: #09B3B0;
}
